# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.PupQuest.iml
# Datasource local storage ignored files
/../../../../../../:\spillPog\PupQuest\.idea\.idea.PupQuest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
